doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block topnav
      #topnav   
        a(href='/') Home 
        a(href='https://nodejs.org/en/docs/guides/') Node.js 
        a(href='https://expressjs.com/') Express
        a(href='https://pugjs.org/api/getting-started.html') Pug.js 


    block header
    block content
    block footer 
      #footer 
        p This is the footer
